sentence_transformers
pickle5
rouge
datasets
bert_score
pandas==1.2.3
debugpy
termcolor
wandb
datasets==1.6.2
# scikit-learn==0.24.2
#tensorboard==2.5.0
#matplotlib==3.4.2
#torch
transformers==4.6.0
tqdm==4.49
rouge_score
